

.book-card{
  .book-card__picture {
    img{
      width: 100%;
      height: 100%;
    }

  }

  .book-card__info{
    .book-card__title{
      font-weight: 400;
    }
    .book-card__author{
      font-weight: 200;
      color: grey;
    }
  }
  .book-card__prices{
    .book-card__new-price{
      color: coral;
      font-size: 1.5rem;
    }
    .book-card__old-price{
      color:grey;
      text-decoration: line-through;
    }
  }
  .book-card__hidden-authors{
    ul{
      display: none;
    }
  }
  .book-card__toggler{
    display: none;
  }
}
.book-card__toggler:checked + ul{
    display: block;

}

